services:
  
  backend:
    image: pkemkes/the-gist-of-it-sec-backend
    container_name: backend
    depends_on:
      aiapi:
        condition: service_healthy
      fetcher:
        condition: service_healthy
      database:
        condition: service_healthy
      chromadb:
        condition: service_healthy
      prometheus:
        condition: service_healthy
      loki:
        condition: service_healthy
    logging:
      driver: json-file
      options:
        max-size: 1g
        tag: "{{.Name}}"
    environment:
      # - Serilog__MinimumLevel__Default=Debug
      - CORS_ALLOWED_ORIGIN=http://localhost:8081  # NOTE: Change this to your frontend's base URL
      - EmbeddingClientHandlerOptions__ApiKey=${OPENAI_API_KEY}
      - EmbeddingClientHandlerOptions__ProjectId=${OPENAI_PROJECT}
      - AIHandlerOptions__Host=http://aiapi:8000
      - WebCrawlHandlerOptions__Host=http://fetcher:8000
      - ChromaDbHandlerOptions__Server=chromadb
      - ChromaDbHandlerOptions__ServerAuthnCredentials=${CHROMA_SERVER_AUTHN_CREDENTIALS}
      - TelegramBotClientHandlerOptions__BotToken=${TELEGRAM_API_KEY}
      - TelegramServiceOptions__AppBaseUrl=http://localhost:5173  # NOTE: Change this to your base URL
      - GistMariaDbHandlerOptions__Server=database
      - GistMariaDbHandlerOptions__User=${DB_GISTSERVICE_USERNAME}
      - GistMariaDbHandlerOptions__Password=${DB_GISTSERVICE_PASSWORD}
      - RecapMariaDbHandlerOptions__Server=database
      - RecapMariaDbHandlerOptions__User=${DB_RECAPSERVICE_USERNAME}
      - RecapMariaDbHandlerOptions__Password=${DB_RECAPSERVICE_PASSWORD}
      - CleanupMariaDbHandlerOptions__Server=database
      - CleanupMariaDbHandlerOptions__User=${DB_CLEANUPSERVICE_USERNAME}
      - CleanupMariaDbHandlerOptions__Password=${DB_CLEANUPSERVICE_PASSWORD}
      - TelegramMariaDbHandlerOptions__Server=database
      - TelegramMariaDbHandlerOptions__User=${DB_TELEGRAMSERVICE_USERNAME}
      - TelegramMariaDbHandlerOptions__Password=${DB_TELEGRAMSERVICE_PASSWORD}
      - GistsControllerMariaDbHandlerOptions__Server=database
      - GistsControllerMariaDbHandlerOptions__User=${DB_GISTSCONTROLLER_USERNAME}
      - GistsControllerMariaDbHandlerOptions__Password=${DB_GISTSCONTROLLER_PASSWORD}
    networks:
      - database
      - chromadb
      - monitoring
      - aiapi
      - fetcher
    ports:
      - "8080:8080"
  
  aiapi:
    image: pkemkes/the-gist-of-it-sec-aiapi
    container_name: aiapi
    depends_on:
      promtail:
        condition: service_started
    logging:
      driver: json-file
      options:
        max-size: 1g
        tag: "{{.Name}}"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_PROJECT=${OPENAI_PROJECT}
      - LANGSMITH_TRACING=true
      - LANGSMITH_API_KEY=${LANGSMITH_API_KEY}
      - LANGSMITH_PROJECT=${LANGSMITH_PROJECT}
    networks:
      - aiapi
  
  fetcher:
    image: pkemkes/the-gist-of-it-sec-fetcher
    container_name: fetcher
    depends_on:
      promtail:
        condition: service_started
    logging:
      driver: json-file
      options:
        max-size: 1g
        tag: "{{.Name}}"
    # ports:
    #   - "8000:8000"
    networks:
      - fetcher

  frontend:
    image: pkemkes/the-gist-of-it-sec-frontend
    container_name: frontend
    depends_on:
      backend:
        condition: service_healthy
    logging:
      driver: json-file
      options:
        max-size: 1g
        tag: "{{.Name}}"
    environment:
      VITE_BACKEND_URL: http://localhost:8080/  # NOTE: Change this to your base URL
      # NOTE: either remove or update the following three variables
      VITE_TELEGRAM_URL: https://url-to-your-telegram-bot.this-is-not-a-real-url/ 
      VITE_METRICS_URL: https://url-to-your-metrics-dashboard.this-is-not-a-real-url/ 
      VITE_PRIVACY_URL: https://url-to-your-privacy-notice.this-is-not-a-real-url/
      VITE_IMPRINT_URL: https://url-to-your-imprint.this-is-not-a-real-url/
    ports:
      - "8081:80"

  database:
    image: pkemkes/the-gist-of-it-sec-database
    container_name: database
    logging:
      driver: json-file
      options:
        max-size: 1g
        tag: "{{.Name}}"
    environment:
      - MARIADB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - DB_GISTSERVICE_USERNAME=${DB_GISTSERVICE_USERNAME}
      - DB_GISTSERVICE_PASSWORD=${DB_GISTSERVICE_PASSWORD}
      - DB_RECAPSERVICE_USERNAME=${DB_RECAPSERVICE_USERNAME}
      - DB_RECAPSERVICE_PASSWORD=${DB_RECAPSERVICE_PASSWORD}
      - DB_GISTSCONTROLLER_USERNAME=${DB_GISTSCONTROLLER_USERNAME}
      - DB_GISTSCONTROLLER_PASSWORD=${DB_GISTSCONTROLLER_PASSWORD}
      - DB_TELEGRAMSERVICE_USERNAME=${DB_TELEGRAMSERVICE_USERNAME}
      - DB_TELEGRAMSERVICE_PASSWORD=${DB_TELEGRAMSERVICE_PASSWORD}
      - DB_CLEANUPSERVICE_USERNAME=${DB_CLEANUPSERVICE_USERNAME}
      - DB_CLEANUPSERVICE_PASSWORD=${DB_CLEANUPSERVICE_PASSWORD}
      - DB_GRAFANA_USERNAME=${DB_GRAFANA_USERNAME}
      - DB_GRAFANA_PASSWORD=${DB_GRAFANA_PASSWORD}
    volumes:
      - database-data:/var/lib/mysql
    networks:
      - database
  
  chromadb:
    image: pkemkes/the-gist-of-it-sec-chromadb
    container_name: chromadb
    logging:
      driver: json-file
      options:
        max-size: 1g
        tag: "{{.Name}}"
    environment:
      - CHROMA_SERVER_AUTHN_CREDENTIALS=${CHROMA_SERVER_AUTHN_CREDENTIALS}
    volumes:
      - chromadb-data:/data
    networks:
      - chromadb
  
  prometheus:
    image: pkemkes/the-gist-of-it-sec-prometheus
    container_name: prometheus
    logging:
      driver: json-file
      options:
        max-size: 1g
        tag: "{{.Name}}"
    volumes:
      - prometheus-data:/prometheus
    networks:
      - monitoring
  
  loki:
    image: pkemkes/the-gist-of-it-sec-loki
    container_name: loki
    logging:
      driver: json-file
      options:
        max-size: 1g
        tag: "{{.Name}}"
    volumes:
      - loki-data:/loki
    networks:
      - monitoring
    ports:
      - "3100:3100"
  
  promtail:
    image: grafana/promtail:3.6.6
    container_name: promtail
    logging:
      driver: json-file
      options:
        max-size: 1g
        tag: "{{.Name}}"
    volumes:
      - ./promtail/promtail-config.yaml:/etc/promtail/promtail-config.yaml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    command: -config.file=/etc/promtail/promtail-config.yaml
    depends_on:
      loki:
        condition: service_healthy
    networks:
      - monitoring

  grafana:
    image: pkemkes/the-gist-of-it-sec-grafana
    container_name: grafana
    logging:
      driver: json-file
      options:
        max-size: 1g
        tag: "{{.Name}}"
    environment:
      - DB_GRAFANA_USERNAME=${DB_GRAFANA_USERNAME}
      - DB_GRAFANA_PASSWORD=${DB_GRAFANA_PASSWORD}
      - PROMETHEUS_URL=http://prometheus:9090
      - DATABASE_HOST_AND_PORT=database:3306
      - LOKI_URL=http://loki:3100
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      prometheus:
        condition: service_healthy
      loki:
        condition: service_healthy
    networks:
      - monitoring
      - database
    ports:
      - 3000:3000

networks:
  database:
  chromadb:
  monitoring:
  aiapi:
  fetcher:

volumes:
  database-data:
    driver: local
  chromadb-data:
    driver: local
  prometheus-data:
    driver: local
  grafana-data:
    driver: local
  loki-data:
    driver: local
